# Path to beatmaps
MAP_PATH = "/path/to/beatmaps/"

# Path to PerformanceCalculator.dll for all modes
PERF_CALC = "/path/to/PerformanceCalculator.dll"

# Path to which simulate output will be serialized via rkyv
SIMULATE_OUTPUT = "./simulate_output.rkyv"

# Path to which load output will be serialized via rkyv
LOAD_OUTPUT = "./load_output.rkyv"

# Path to scores.sql containing osu scores
SCORES_SQL_OSU = "/path/to/osu/scores.sql"
# Path to scores.sql containing taiko scores
SCORES_SQL_TAIKO = "/path/to/taiko/scores.sql"
# Path to scores.sql containing catch scores
SCORES_SQL_CATCH = "/path/to/catch/scores.sql"
# Path to scores.sql containing mania scores
SCORES_SQL_MANIA = "/path/to/mania/scores.sql"
